body {
  background-color: #EBE8E4;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  margin:0px auto;
  display: block;
  height:auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: 20px;
}

p {
  margin: 0;
}

/*nav*/
nav {
  background-color: #ECECEC;
  color: #888;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

  nav ul {
    margin: 0;
    padding: 0; 
  }
    nav ul li {
      display: inline-block;
      list-style-type: none; 
    }
  nav > ul > li > a {
    color: black;
    display: block;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none; 
  }
  nav > ul > li:hover {
    background-color: #1E8BC3; 
  }
    nav > ul > li:hover > a {
      color: white; 
    }

.header-image img {
  width: 100%;
  padding-top: 50px;
}

.feature {
  margin-top: -25px;
  width: 100%;
  height: 250px;
  background-color: #DADFE1;
  padding-bottom: 30px;
}  

.feature-text {
  width: 50%;
  margin-left: 25%;
}

.feature h1 {
  padding-top: 75px;
  padding-bottom: 20px;
}

.latest-news {
  width: 100%;
  height: auto;
  background-color: #ECECEC;
  text-align: center;
}

.newsitems {
  text-align: left;
  width: 35%;
  margin-left: 25%;  
}

  .newsitems img {
    max-width: 30%;
    padding-right: 10px;
    float: left;
    padding-top: 10px;
  }

  .newsitems p {
    padding-top: 10px;
  }
  
  .newsitems h2 {
    padding-bottom: 5px;
  }

  .newsitems h1 {
    border-bottom: 1px solid #b6bdbf;
    padding-bottom: 10px;
  }

  .newsitems article {
    padding-bottom: 20px;
    border-bottom: 1px solid #b6bdbf;
  }

footer {
  width:100%;
  min-height:200px;    
}

.column {
  width:32.5%;
  height:200px;
  float:left;
  margin:0;
  text-align: center;
  padding-top: 20px;
}

#meta-links {
 width:100%;
 background-color:red;
 float:left;   
 height:40px;
}










